<h2> <%= @blog.title %> </h2>
<br>
<h3> <%= @blog.content %> </h3>
<%= link_to 'Back to Home', blogs_path %>
<%= link_to 'Edit Blog Post', edit_blog_path %>
<%= button_to 'Remove Blog Post', delete_blog_path, method: :delete %>